/* 
    Created on : 05-may-2017, 10:06:09
    Author     : mikel
*/
nav {
    height: 50px;
    margin-top: 12px;
    float: left;
}
nav ul {
    list-style:none;
}
nav ul li {
    margin-left: 20px;
    float: left;
    display: block;
    color: white;
}
nav ul li:hover {
    color: #e8a35b;
}
