/* 
    Created on : 16-may-2017, 10:47:45
    Author     : mikel
*/
#contentNosotros {
    width: 100%;
    height: 500px;
    background: url(../img/fondoNosotros.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#containerNosotros {
    width: 1200px;
    margin: 0 auto;
}
#contentTextNosotros {
    width: 700px;
    margin-top: 30px;
    float: left;
}
#contentTextSide {
    width: 350px;
    float: left;
}
#containerTextSide {
    width: 300px;
    margin: 0 auto;
}
h1.titNosotros, h2.titNosotros {
    color: #e8a35b;
}
p.textNosotros {
    color: white;
}