/* 
    Created on : 16-may-2017, 13:23:58
    Author     : mikel
*/
#contentOrdenadores {
    width: 1200px;
    margin: 0 auto;
}
#containerOrdenadores {
    width: 400px;
    float: left;
}
/*CLASES*/
img.imgPc {
    width: 100%;
}
